.bord{
    position: absolute;
    box-shadow: 0 0 0 3px rgb(255, 145, 0) inset;
    display: -webkit-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}
.sm{
    background:rgb(255, 145, 0);
    color: #fff;
    white-space: nowrap;
    font-size: 20px;
    line-height: 0.75rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: baseline;
    align-items: baseline;
    
    padding: 1px 3px;
    border-radius: 2px 2px 0 0;
    margin-left: 10px;
    width: 30px;
}
.abs{
    position: absolute;
}
.age{
    color: #fff;
    
}